<section class="section_header">
    <div class="title_app">
        <h1 id="title_app_h1"></h1>
    </div>
</section>
<section class="interest_description">
    <p>Select what do you wish to see</p>
</section>
<section class="interest_selector">
    <div class="interest_layout">
    </div>
</section>
<!--<section class="interest_radius" id="interest_radius">
    <input type="range" max="100" min="10" value="50" class="slider" id="myRange">
</section>-->
<section>
    <div>
        <div id="map">
        </div>
        <div>
            <span id="rangeValue">50 km</span>
        </div>
    </div>
</section>

<section class="placesSection">
    <div  id="places_list">

    </div>
</section>

<section class="footerSection">
    <footer>
        <h4>DEVELOPED BY @ericdotjs</h4>
        <a href="https://github.com/ericdotjs" target="_blank">GitHub Profile</a>
    </footer>
</section>