<div class="placeCardContainer">
<div class="placeCard">
    <div class="header_info">
        <h3 id="PlaceName"></h3>
    </div>
    <!--<div class="headerImage">
        
    </div>-->
    <div class="placeInfo">
        <div class="placeInfoRowc1">
            <h5 id="PlaceAddress"></h5>
        </div>
       <!-- <div class="placeInfoRowc2">
            <h5 id="PlacePostcode"></h5>
        </div>-->
    <!--<h5 id="PlacePostcode"></h5>
    <h5 id="PlaceState"></h5>
    <h5 id="PlaceStreet"></h5>-->
</div>
</div>